@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AZURE GITHUB</h1>
    <p class="lead">Welcome to Azure GitHub Better Together Training. And have a fun week. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
